{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div class="content">
  {{ range where .Data.Pages "Params.component" "_header" }}
  {{ .Render }}
  {{ end }}

  {{ range .Data.Pages.GroupByParam "component" }}
  {{ if not (eq .Key "_header") }}
    <h3>{{ .Key }}</h3>
    <table class="pure-table pure-table-horizontal">
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Architectures</th>
        <th>Distributions</th>
      </tr>
      {{ range .Pages.ByTitle }}
      {{ .Render "tr" }}
      {{ end }}
    </table>
    {{ end }}
    {{ end }}
</div>

{{ partial "footer.html" . }}
